#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 > #backgroundBox {
  position: absolute;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 > #alignmentBox {
  position: relative;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 {
  width: 884.0px;
  height: 143.00000000000017px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 {
  position: absolute;
  width: 213.66666666666686px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/6939e0ff-a42a-4e4e-a49e-cd0318ae78d8.jpg');
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/50d69cda-c6c3-47d9-9112-13fb70ed431d.jpg');
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 {
  position: absolute;
  width: 213.66666666666686px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/fe2a73a5-dbd8-4b93-9a75-054e40c7e3ad.jpg');
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/b0703ff5-6b13-47c7-aed1-e67b0756f115.jpg');
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image {
  position: absolute;
  width: 590.9999999999995px;
  height: 326.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_1 {
  position: absolute;
  width: 591.4999999999982px;
  height: 326.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_2 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_3 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Image_5 {
  position: absolute;
  width: 35.02125002899311px;
  height: 35.021250028993336px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: difference;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_5 {
  position: absolute;
  width: 78.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: difference;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/0cd1da64-678f-4da3-bb32-5a2923dc3c07.png');
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Paragraph_1 {
  position: absolute;
  width: 418.8174157303371px;
  min-height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Paragraph_1 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_6 {
  position: absolute;
  width: 150.31741573033844px;
  min-height: 26.999999999999773px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_7 {
  position: absolute;
  width: 260.0px;
  min-height: 17.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-aa9de25d-7e58-4b94-a0b0-79f9ed527194 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}