#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b > #backgroundBox {
  position: absolute;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b > #alignmentBox {
  position: relative;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 {
  width: 1114.0px;
  height: 143.0000000000001px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 {
  position: absolute;
  width: 213.66666666666686px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/0e2bc5c4-fd59-4fa4-bb5e-0fec28c8fc47.jpg');
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/46b8479c-55e9-4dd0-a854-cb9018022358.jpg');
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 {
  position: absolute;
  width: 213.66666666666686px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/ab90c1a3-b88d-4516-a886-f86fdd0edca5.jpg');
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/f7d87e85-61f0-417b-936b-ee5340e02830.JPG');
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/56a9993f-5776-48e7-a2b2-cdbabdcc558a.jpg');
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_5 span#rtr-s-Button_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image {
  position: absolute;
  width: 590.9999999999995px;
  height: 326.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_1 {
  position: absolute;
  width: 591.4999999999982px;
  height: 326.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_2 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_3 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_4 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #999999;
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_6 {
  position: absolute;
  width: 78.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_6 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/0cd1da64-678f-4da3-bb32-5a2923dc3c07.png');
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Button_6 span#rtr-s-Button_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b #s-Image_5 {
  position: absolute;
  width: 35.02125002899311px;
  height: 35.021250028993336px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b607ad61-d1a3-415f-a4af-42a7f65aa70b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}