#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d > #backgroundBox {
  position: absolute;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d > #alignmentBox {
  position: relative;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 {
  width: 1110.0px;
  height: 143.0000000000001px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 {
  position: absolute;
  width: 213.66666666666686px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/a97c1d8f-4551-4700-8576-1f8b348417ac.jpg');
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/244a4753-a184-4cc0-a692-bec98cd67107.png');
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 {
  position: absolute;
  width: 213.66666666666686px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/aac960bb-515d-4865-b950-ead72850f03b.jpg');
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_3 span#rtr-s-Button_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/e98eba17-76bf-4bb7-a854-1e8652c33bb4.jpg');
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 {
  position: absolute;
  width: 213.66666666666697px;
  min-height: 129.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 1.0;
  background-image: url('../../images/3592b0cf-dfc4-4ff3-9538-675ca5ffae95.jpeg');
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_5 span#rtr-s-Button_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image {
  position: absolute;
  width: 590.9999999999995px;
  height: 326.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_1 {
  position: absolute;
  width: 591.4999999999982px;
  height: 326.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_1 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_1 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_2 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_2 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_2 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_3 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_3 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_3 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_4 {
  position: absolute;
  width: 593.0px;
  height: 327.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_4 > .borderLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_4 > .backgroundLayer {
  border-top-left-radius: 20.0px;
  border-top-right-radius: 20.0px;
  border-bottom-right-radius: 20.0px;
  border-bottom-left-radius: 20.0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_7 {
  position: absolute;
  width: 78.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../images/0cd1da64-678f-4da3-bb32-5a2923dc3c07.png');
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Button_7 span#rtr-s-Button_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d #s-Image_5 {
  position: absolute;
  width: 35.02125002899311px;
  height: 35.021250028993336px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b744ac01-6a7f-4be1-a683-b29f5d31ad2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}